[2017-08-29 13:34] soachishti opened #1 "Error when Superuser or Staff login from user login page"

[2017-08-29 13:49] soachishti opened #2 "Fix pytest fail error"

[2017-08-29 14:26] soachishti opened #3 "Set API url in run.py from django settings"

[2017-08-29 15:37] soachishti opened #4 "Limiting Assignment course to instructor"
Any instructor can add assignment for any course. Limit this to that instructor only.

[2017-08-29 15:46] soachishti opened #5 "Show submission log for student in a Modal"

[2017-08-29 15:47] soachishti opened #6 "Generate Report of Student Submission"

[2017-08-29 15:48] soachishti commented on #3
Resolved. 8c49de127d4a8bc62ef18efdaeb6fb010d97d2fd

[2017-08-29 15:48] #3 closed

[2017-08-29 15:48] soachishti commented on #4
Resolved. b94420b86fba328e169677dd3fabd12e8d47bf57

[2017-08-29 15:48] #4 closed

[2017-08-29 15:49] soachishti commented on #1
Resolved. b0f05c8a6d6b3b0aee385932c011a2f561c7a79d

[2017-08-29 15:49] #1 closed

[2017-08-29 17:56] soachishti opened #7 "Home Button URL Fix in Student Panel"

[2017-08-29 17:56] soachishti opened #8 "Multiple Assignment Files in Assignment"

[2017-08-30 20:44] soachishti commented on #7
Resolved. 508cc463bc3f7573813f3620040f68f8a70bc6ab

[2017-08-30 20:44] #7 closed

[2017-08-30 20:45] soachishti commented on #5
Resolved. 7d50f3e18e2392c1fb0e0b41b221cdbcaf8fe5f3

[2017-08-30 20:45] #5 closed

[2017-08-30 21:26] soachishti commented on #2
Resolved this issue by using multiprocessing for running pytest. ee7452495db82bcc28c5aa8294255bb0044f69f6

Also solved pytest timeout issue by terminating process (multiprocessing).

@recluze

Note: we might get 100s of processes generated when student submits assignment. But there will the timeout with each process.

[2017-08-30 21:27] soachishti opened #9 "Assignment submission after due date: Allowed late days"

[2017-08-30 21:30] soachishti opened #10 "Forgot Password and Reset Password Pages"
Forgot Password
- Regenerate the password and send it by email.

Reset Password (After login)
- Old password
- New password
- Re-enter new password

[2017-08-31 07:22] recluze opened #11 "Exception in Add Assignment"
Logged in as "nauman".

Clicked on "Add" under assignments.

Got this exception:

[code]

With exception:

[code]

For line 4.

[2017-08-31 07:22] recluze commented on #11
@soachishti

[2017-08-31 07:47] recluze opened #12 "Python version"
Are we running on Python3?

We're following python2 in class so it would be better if we change to python2. Don't think it should be that big of a problem since django would support both, no?

Apologies for not mentioning this earlier.

[2017-08-31 07:47] recluze commented on #12
@soachishti

[2017-08-31 07:49] soachishti commented on #12
@recluze Ok, I will update the code to Python2.

[2017-08-31 08:29] soachishti commented on #11
Resolved. 7ba4cd6c63203b85e5c5593c810680711fcaac3c

@recluze

[2017-08-31 09:49] recluze opened #13 "Add course "course-id" field too small"
Currently it's length is set to 6 characters. This needs to be a lot longer so that we can put, for instance ... cs101-f17-a (plus a few more characters just in case).

BTW, I've moved to postgres on GPU machine and it's working fine.

[2017-08-31 10:03] recluze commented on #13
Same goes for description field in "Add assignment". Why be so "kanjoos" with the fields? =]

[2017-08-31 10:05] recluze opened #14 "Other files field in assignment"
Need to have another field for "other_files" ... this can be multiple files ... for instance for adding a PDF or extra .py files which are needed for assignment.

[2017-08-31 10:06] recluze commented on #14
(I'm currently assigning all issues to @soachishti but feel free to pass these on.)

[2017-08-31 10:19] recluze commented on #14
These will only go in the assignment "download zip" ... don't need to have them come back ... but will need to have them extracted when running server-side tests (since the .py files might be needed) but we will have to take them from our server copy ... the only files that come from the student will be the "modifiable files"

[2017-08-31 10:20] recluze commented on #11
Verified.

[2017-08-31 10:20] #11 closed

[2017-08-31 10:21] recluze commented on #2
Can you explain why we might have 100s of processes? Is this for one submission or for different ones? (Since we can expect only a few submissions at any given time...)

[2017-08-31 10:23] recluze commented on #8
Let's forget about this one since we have #14 for this.

[2017-08-31 10:23] #8 closed

[2017-08-31 11:28] soachishti commented on #12
Resolved. @recluze

It is working on both versions, now.

[2017-08-31 11:48] soachishti commented on #2
We have 175 students who will be sending the Submission. We can expect high number of processes when due date is near.

But we will see when something happen.

[2017-08-31 11:52] soachishti commented on #13
Increased the field length of course_id to 64 and description to 8192.

[2017-08-31 11:52] #13 closed

[2017-08-31 12:04] soachishti commented on #14
I will look into that.

[2017-08-31 12:55] soachishti commented on #14
Other file functionality added. 0cf3da9016df15c9c0edcddc63c04f38fd991b77 @recluze

[2017-08-31 13:31] recluze commented on #14
ATM, they're not included in the .zip downloaded by the student. He will need them to complete the assignment.

[2017-08-31 13:37] recluze commented on #2
Made a fix in 22b6c51b45 related to this.

[2017-08-31 13:38] soachishti commented on #14
They are included in student's .zip file and other files are copied to submission directory (from server-side copy) before running pytest.

[2017-08-31 13:42] recluze commented on #14
Ah, right. Sorry. Was looking at the newer assignment (with no extra files).

[2017-08-31 13:47] recluze commented on #14
Er ... actually .. just added another assignment with three files and they don't seem to show up in the .zip downloaded by student. Can you please confirm by adding another assignment?

[2017-08-31 14:01] soachishti commented on #14
It's working with me. Have you enable permission for yourself (User Permission). I have tested it with guru and nauman and it is working on both.

[2017-08-31 14:02] soachishti commented on #14
https://www.screencast.com/t/h49HRPE0DYpV

[2017-08-31 14:05] recluze commented on #14
Well, it shows up fine in the backend (under Assignments) -- even after reload of the page. But when I download the assignment as a user, the `assignment3.zip` does not have the extra files. I just checked again with an older assignment. I will try again as I did get them downloaded in the first assignment once.

I'll update when I have more info inshaallah.

[2017-08-31 14:11] recluze commented on #14
Just checked again. It shows up in the submission folder (as in your screenshot) but does not in the student's downloaded zip file.

[2017-08-31 15:59] soachishti commented on #14
Zip file is generated when Assignment save signal is called. If correct zip file is available in assignment folder then there should be no problem because zip file is downloaded from the same folder.

Can you check whether student panel and admin are on same ip/host. Last time I was updating Assignment on localhost and checking them on 121.52.146.108 (student's panel) :(

Secondly are you download

[2017-08-31 16:20] recluze commented on #14
Right. So, I guess I have found a way to reproduce the bug.

If you add an assignment and at that time add a "other file", it doesn't go in the zip file.

But if you go back to the assignment and hit "save" again, this time it does get put in the zip.

I guess the reason is that when you are saving the assignment, you save the assignment first (and at that time there are no "other files" since tho

[2017-08-31 16:32] recluze opened #15 "Assignment folder name in uploads"
The assignment folder name in `uploads` folder is problematic. Since it's called as "assignment title" with spaces replaced with `-`, we need the titles to be unique (and there is no check there for uniqueness).

So, we either need to change the folder path to `course_id/assignment_id/` or put a check for uniqueness in the title (this one should be easier I think but only if we make a composite ke

[2017-08-31 17:00] soachishti commented on #14
It was deep :)

Resolved. 939a52e4ae0075331e6bb82bf45f768f973d74f1

I have connected save signal to sender "OtherFile". Each time a other file is saved, it is then added (appended or rewrite) to existing assignment zip file.

[2017-08-31 17:20] soachishti commented on #15
Resolved using composite key. 29a03ba19471c25240d1d04e6f34760cf5e323eb

[2017-08-31 18:06] #10 closed

[2017-08-31 18:09] bilalzaib commented on #10
Issue solved but for forget password mail is send on console (only for developers). @soachishti

[2017-08-31 19:10] soachishti commented on #10
Cool 👍

[2017-08-31 19:49] BilalZaib opened #16 "Configuration of SMTP Email Service is required"

[2017-09-01 02:59] recluze commented on #14
Seems to be working fine now (even though the solution isn't too elegant since it will generate the zip after saving each 'other_file'). Maybe we can keep this open with low priority for this fix.

[2017-09-01 03:00] recluze commented on #12
Had some minor issue with `urlllib`. Fixed that but if possible, please try to develop under python2 for the moment. Not a big issue though.

[2017-09-01 03:01] recluze commented on #15
Seems fine now. (Can't change the assignment title though but let's leave that for now...)

[2017-09-01 03:02] recluze commented on #16
Can we make it so that signup requires email verification? (To ensure that if the student registers with an ID, they actually own that email.)

[2017-09-01 03:02] recluze commented on #6
This would be higher priority than #9 ...

[2017-09-01 10:02] soachishti commented on #14
It won't generate the zip file each time. It will append the other_file to the zip file.

If assignment is saved first time:
1) Assignment save signal generates the zip file.
2) OtherFile save signal append "other file" to existing zip file.

If Assignment is updated:
1) Assignment save signal generates the zip file (Including existing other files).
2) OtherFile save signal is NOT called for exist

[2017-09-01 10:02] #15 closed

[2017-09-01 10:03] #14 closed

[2017-09-01 10:07] #12 closed

[2017-09-01 10:07] soachishti commented on #12
Sure!

[2017-09-01 10:09] soachishti commented on #16
@BilalZaib

[2017-09-01 10:32] soachishti opened #17 "Conflict Issues"
I am getting conflict every time I pull the code. Most of my commit are lost.

Kindly create a branch before making changes to the code.

We will then merge those branch back to the master branch. That is the solution which I can suggest now.

Let me know if there is any other better solution.

I am using GitKraken for conflict resolution.

NOTE: DO NOT PUSH YOUR CHANGES TO MASTER NOW

[2017-09-01 10:35] soachishti commented on #17
Start your branch with following commit 97eb6be5f4a352e107a64438e304b86b268ce9d4

[2017-09-01 10:45] soachishti commented on #17
I will be working on Report Functionality #6 under AddingReports branch.

[2017-09-01 13:37] bilalzaib commented on #16
@soachishti
Done with signup email verification but didn't push changes

[2017-09-01 14:23] soachishti commented on #16
Create a branch of that code, push that branch and start a pull request.

git add .
git commit -m "Changes"
git checkout -b SignupVerification
git push origin SignupVerification

Logon to GitHub and start a pull request.

@BilalZaib

[2017-09-01 15:15] recluze commented on #2
Been thinking about this. It's not a big issue if students get a few "busy" signals during high load but we need to ensure the system degrades gracefully in such cases. At the very least, we shouldn't get any incorrect scoring done.

[2017-09-01 15:20] recluze commented on #6
Please push to branch whenever you have something on reports so that I can take a look. I promise I won't mess with your branch =]

[2017-09-01 19:08] soachishti commented on #6
Sure, I will keep the remote branch updated. =]

[2017-09-01 20:40] soachishti commented on #16
SMTP settings are added (Mailgun). #21

You will have to install following modules `pip install django-anymail[mailgun]`

"From" section of email for "Password Reset" and "Sign Up Invitation" will be p146011@nu.edu.pk. It is limited by Mailgun. However it can be changed but that new email need to be enabled from Mailgun online account settings.

@BilalZaib @recluze

[2017-09-01 20:43] soachishti commented on #2
They won't receive the busy signal. They will get timeout message for their correct solution because this is how OS behave when CPU is at 100%. Student program will die (timeout) in scheduler :)

[2017-09-02 00:36] recluze commented on #2
Yes, I know but you never know what might happen with a busy OS. I'm just worried since we have 0 checks in place for this. But anyway, I doubt the students will be able to stress test our machine. We'll cross that bridge if and when we get to it.

Closing this for now.

[2017-09-02 00:36] #2 closed

[2017-09-02 00:39] recluze commented on #16
Umm.. why are we using mailgun? What's wrong with local SMTP (other than the fact that it will most probably land in their SPAM folder ... but that can be taken care of easily). Not saying we shouldn't do this. Just asking.

[2017-09-02 21:40] soachishti commented on #16
In most cases local SMTP doesn't work, you can take example of my mine. If we move to web hosting provider they have switched SMTP to paid option for example GoDaddy.

However we can use Google and Outlook SMTP server for delivering emails. I have been using Mandrill and Mailgun for quiet long a ago that is why I selected this service.

[2017-09-03 03:46] recluze commented on #16
I haven't had any issues with local mail sending but I guess it can't hurt to use Mailgun. At the very least, we'll solve the issue of mail going to the spam folder with this. Let's keep it.

[2017-09-03 10:22] #17 closed

[2017-09-03 10:23] soachishti commented on #6
Pull request added. #23

[2017-09-03 12:44] recluze commented on #9
Thanks for the good work.

If possible, let's tackle this before other enhancements (other than the reports, of course).

Brief description: For each "course", the instructor can set "allowed late days" for the course. Every student gets these for the whole course. At submission time, if they are over due, they get a question asking them if they want to use their late day (big warning). If they ag

[2017-09-03 13:17] recluze commented on #6
Great work with the report. I really like the "Edit" button to fix any mistakes by the autograder.

Some changes:

1. Should add the "username" column along with roll no.
2. Add "Submission date". This would be for the latest ... just as the pass/fail fields.
3. Make table sortable on all columns (client-side).
4. For "percent", I forget: are we actually displaying "percent" or total points (given

[2017-09-03 13:18] recluze commented on #6
(very low priority: syntax highlighting for the code shown in the popup in report.)

[2017-09-03 21:00] soachishti commented on #6
#24

[2017-09-04 14:50] recluze opened #26 "Other Files seems to be missing from the Assignment page"
Pulled fresh code just now and there is no other files area in the Assignments admin page.

[2017-09-04 14:54] recluze commented on #26
`nauman` probably doesn't have the rights. I'll check after prayers.

[2017-09-04 15:35] recluze commented on #26
Yep. Fixed by rights.

[2017-09-04 15:35] #26 closed

[2017-09-04 15:38] recluze commented on #6
Assignment report seems to have a bug:

[code]

It's not checking for a particular assignment. We're getting back whatever happens to be the latest submission. So, if you submit an older assignment later, that shows up.

[2017-09-04 15:48] recluze commented on #6
The way we need to do this is to find the course associated with the assignment, then find all students that are enrolled and then get their score for this particular assignment. In case there is no record of submission by a student, we show a `-` in their row. This is so that we know exactly which students have submitted and not omit those that haven't made any submission.

[2017-09-04 16:04] recluze commented on #16
Tried signing up with user's email `recluze` on the gmail domain... Got this error. I suppose we can go ahead and remove the email verification for now so that students can start using the system until we figure out how to handle verification.

![screen shot 2017-09-04 at 9 01 13 pm](https://user-images.githubusercontent.com/289851/30033380-5871a372-91b4-11e7-8eb4-672f143c40ad.png)

[2017-09-04 16:13] soachishti commented on #6
Such a silly mistake :) #27

[2017-09-04 16:17] recluze opened #28 "Percent field in submission model"
Let's get rid of the percent field and just compute `score` dynamically. I think this is causing some issues in the reports.

https://github.com/BilalZaib/AutoGrader/blob/1bc69c7d1d07707d09760e016a01fa4fcce85614/AutoGrade/models.py#L111

[2017-09-04 16:26] recluze commented on #6
Nice work with the report. It seems very usable now.

Just get rid of the duplicate `assignment` object from here: https://github.com/BilalZaib/AutoGrader/blob/8ae7e29e9fbc94d2d8c10be1de887a9b8a2a72f2/AutoGrade/views.py#L334

And see if you can disable email verification on the other bug. We can then deploy this tomorrow inshaallah and see if the students can bring up some bugs.

Thanks again for

[2017-09-04 17:10] soachishti commented on #28
#29

[2017-09-04 17:11] soachishti commented on #16
#30

Added Outlook SMTP.

[2017-09-04 17:54] soachishti commented on #6
Fixed the duplicate in #31 and Email verification is fixed in #30 using Outlook SMTP.

[2017-09-05 01:58] recluze opened #32 "Separate settings file for prod"
Since it's a (really really) bad idea to publish our credentials on a public repo such as Github, we need to create a separate file for prod. In this file, we can put creds (and settings) that will be specific to prod. Then, this needs to be included in the `settings.py`.

Create this file in the same folder as `settings.py` and import. Commit the prod settings file once (while it's empty) and the

[2017-09-05 09:56] recluze opened #33 "Remote test failure on prod"
Pulled the SMTP code and email verification is working well. However, remote submission caused this error:

[code]

And the `test-results.log` file in submission directory for this submission is completely empty.

[2017-09-05 10:27] recluze commented on #33
My fix does not work on the server. Can we easily get rid of the multiprocessing and just call the run_test function?

(I wrote to master directly since a PR would have produced the same effect.)

[2017-09-05 11:47] recluze commented on #33
I'm getting this between "Chaning directory" and "IO Error":

[code]

Looks like the process is trying to run manage.py instead of pytest. Might have to do something with the fact that we're on Gentoo in prod.

[2017-09-05 12:33] recluze commented on #33
So, this is solved. After about 3 hours of debugging and hopelessness, it turns out that if you don't have the pytest-timeout plugin installed, it basically forks the main process instead of calling pytest's main function!!

So, the solution was simply `pip install pytest-timeout` on prod.

We should probably list all needed packages in `requirements.txt`

[2017-09-05 12:33] #33 closed

[2017-09-05 12:34] recluze opened #34 "Generate requirements.txt file"
Need this to make sure we don't pull our hair out in case we have to redeploy.

[2017-09-05 12:38] recluze opened #35 "Backup script for backing up code and db together"
We're on PostgresSQL on prod.

We need a script that will take the whole db's dump and put it in a file (timestamped). Then, it will also get the current code and put that in a zip file along with the db dump (again, timestamped). Then, upload it somewhere off-site where we can only do writes and no deletes.

[2017-09-05 13:34] recluze commented on #6
Let's close this.

[2017-09-05 13:34] #6 closed

[2017-09-05 14:03] soachishti commented on #34
#37

@recluze

[2017-09-05 14:03] #34 closed

[2017-09-05 14:11] recluze commented on #16
Works. Please send me the updated password through email and close this out please. Thanks.

[2017-09-05 14:15] soachishti commented on #32
#38

[2017-09-05 14:33] soachishti commented on #16
Closing this issue... Sent the new settings.py file to your email address.

[2017-09-05 14:33] #16 closed

[2017-09-05 14:34] soachishti commented on #28
Closing this issue, further discussion in pull request.

[2017-09-05 14:34] #28 closed

[2017-09-05 14:36] soachishti commented on #32
Removed current settings.py from source code.  #38

Password and secret key are updated and sent to you via email.

[2017-09-05 14:36] #32 closed

[2017-09-05 14:51] soachishti commented on #35
We can use this Django package for creating backup of media (submission/assignment) and database.

https://django-dbbackup.readthedocs.io/en/stable/installation.html

It supports PostgresSQL.

[2017-09-05 14:54] recluze commented on #35
Looks good. Let's deploy this but ensure we can reproduce from the backup (in a sandbox).

[2017-09-05 15:03] recluze commented on #35
But let's handle #9 first please =]

[2017-09-06 10:51] recluze opened #41 "User's email does not have unique constraint imposed"
Just registered 2 users with same email.

[2017-09-06 11:20] soachishti commented on #41
Resolved in #42

[2017-09-06 11:20] #41 closed

[2017-09-06 13:05] recluze commented on #41
Fixed in #42

[2017-09-10 14:46] recluze opened #45 "Detecting similarity."
If we can integrate MOSS (http://theory.stanford.edu/~aiken/moss/) with the autograder, it should be fantastic.

(Also, since I don't see a python submission script on their page, if you can provide one, you might get your name on the Stanford page which would be a good cred to have.)

The way I see this working is: after the due date has passed and the instructor is viewing the report, they can c

[2017-09-10 19:58] soachishti commented on #45
That is interesting, will work on this.

[2017-09-13 08:47] soachishti commented on #45
Integrated in #46

[2017-09-13 08:47] #45 closed

[2017-09-14 06:49] recluze opened #47 "Moss error"
See here: https://github.com/BilalZaib/AutoGrader/commit/bdba34999ee8f887f6496d54bcd45fed8825ef8b#commitcomment-24295214

[2017-09-14 16:03] #47 closed

[2017-09-15 13:17] soachishti opened #49 "Remove student form "get_student_latest_submissions" tuple"
When get_student_latest_submissions called from Assignment instance. Then it returns [(submission, student1)...]. Technically it should return submissions only. Lately I was added for report section but now it is getting confusing.

Task:
1) Remove student from `get_student_latest_submissions` returned tuple
2) Update report section
3) Update `moss_submit`, It uses `get_student_latest_submissions`

[2017-09-15 13:37] soachishti opened #50 "Resent Email Verification for Sign Up and Reset Password"
**SIGN UP - Email Verification**
When user sign up for account then verification email is sent to their email account. But there are cases when; email are not received or they are delayed.

We can handle this like these:
Let the user "Login" after sign up without email verification. But user will get message on their screen to Verify their Email with these two options: "**Resend email**" or "**Cha

[2017-09-15 13:52] recluze commented on #50
This would be great as I've been handling these issues manually for a few days now (mostly due to user issues but still ...)

[2017-09-15 14:15] recluze commented on #49
The `assignment_aggregate_report` function in `views.py` would also be affected by this in #51

[2017-09-16 03:04] recluze commented on #9
Did you get a chance to think about this?

[2017-09-16 09:15] soachishti commented on #9
Not yet but it is in the plan :)

[2017-09-16 09:17] #50 closed

[2017-09-17 15:18] recluze opened #54 "Error in Moss submission"
I'm still getting an error on this line: https://github.com/BilalZaib/AutoGrader/blob/master/AutoGrade/models.py#L131

I still don't see how `submission == None` in the previous line would work. Since within the `if` body, submission is `None`, calling a function on that is bound to throw an exception ...

[2017-09-17 15:46] soachishti commented on #54
Er... that will be `!=` :)

[2017-09-17 15:47] soachishti commented on #54
Updated that.

`if submission != None:`

[2017-09-18 06:38] #54 closed

[2017-09-20 09:05] recluze opened #55 "Assignments for different course can be submitted"
**Scenario**: `StudentA` registers for `CourseA` which has `AssignmentA`. `StudentB` registers for `CourseB` which has `AssignmentB`.

`StudentB` downloads `AssignmentB`.

`StudentA` takes `StudentB`'s downloaded file and tries to submit with it.

**End result**: `AssignmentB` submitted successfully by `StudentA` but does not show up in the Assignment Report (or submission history).

**Resolution*

[2017-09-20 09:06] recluze commented on #55
So, we only need to change the submission part. Reporting part is working fine as is.

[2017-09-21 06:13] #49 closed

[2017-09-21 06:13] #55 closed

[2017-09-21 13:00] recluze opened #57 "Bug in password reset page"
Enter a valid email on password reset page to get this error: `Invalid block tag on line 12: 'endautoescape'. Did you forget to register or load this tag?`.

[2017-09-21 13:01] recluze commented on #57
Here: https://github.com/BilalZaib/AutoGrader/blob/36b7a6f34f2eb36bd07e49406e50184857a1a954/AutoGrade/templates/registration/password_reset_email.html#L12

[2017-09-21 13:04] recluze commented on #57
Fixed.

[2017-09-21 17:04] soachishti commented on #9
@recluze When student is one day late then one will be subtracted from their credit and when they are two days late then two will be subtracted from their credit?

@BilalZaib will be working on this issue.

Expected Changes:
1. New field in Course Model (We will change that field from admin panel) - `Default: 3`
2. A new attribute in `Submission` which will indicate whether that submission is subm

[2017-09-21 17:05] soachishti commented on #35
@BilalZaib I will work on this.

[2017-09-22 00:45] recluze commented on #9
Thanks.

Yes, seems right. Point 6 is most important. When due date has passed, student should be given a warning that due date has passed and if they want to use their late days (should also show how many late days will be used if they say "yes" and how many total they have left). They should also be warned in bold letters that they will not be able to change their decision later.

For the submis

[2017-09-22 00:50] recluze commented on #9
I think a better way (instead of changing the submission script) would be to have a button in the individual assignment page "Request Extension" -- if they have some days left. Once they request an extension, we can have a new table that has `student_assignment_deadline` information. Basically, if they request an extension for a particular assignment, we put a record in this table for `student`, `

[2017-09-22 00:51] recluze commented on #9
Also, "request extension" only becomes available after the due date has passed.

[2017-09-23 13:03] #35 closed

[2017-09-24 03:27] recluze opened #61 "Assignment Reports"
Been thinking that we can make the autograder demo look very good by adding some simple reports.

Some that come to mind are:

1. Course report that has assignments on x-axis and number of submissions on the y-axis. So we know how many submissions were made for each assignment (since we already have some great students who fail to even submit ...)

2. Same as above but the average score on the y-a

[2017-09-24 03:28] recluze commented on #61
@soachishti @BilalZaib Please take a look above.

[2017-09-24 13:26] soachishti commented on #61
Got it.

If its possible to add another TA then it would be cool to work in little bigger team :) We could breakdown this to smaller tasks (single report for instance) so that it would be easier for them to start.

[2017-09-24 13:35] recluze commented on #61
Sure. You can talk to a TA of your choice and bring them on board. If you can find enough tasks for them and can manage them you can even have both of them here. I can do the data entry myself =]

Let me know in either case.

[2017-09-24 13:37] soachishti commented on #9
@recluze Question; if student is trying to submit assignment after two day of due day then two "late days" will be deducted. If they are one week late then they cannot submit the assignment and "Request Extension" button will be disabled. If student requested his extension of 1 day at last minute of first day after due day then it won't be of any use for him?

Just wondering what if student start

[2017-09-24 13:46] recluze commented on #9
Assignment due date was Monday 1200hrs.

Scenario 1: Student comes to the page at 1210hrs on Monday. They see button "Request Extension" and can get one late day (provided they have the credit). They have until Tuesday 1200hrs (original due date + 24 hours) to finish the assignment.

Scenario 2: Student comes in on Tuesday 1210hrs. Now, if they want to request extension, they will have to have 2 d

[2017-09-24 14:11] soachishti commented on #9
Crystal clear =]

[2017-09-27 01:43] recluze opened #62 "Course Student List View and Unenroll Student"
We need a view for each course that shows all enrolled students. Next to each student's row, we need a link that says "Unenroll Student". This is to remove students incorrectly enrolled in wrong sections.

[code]

@soachishti I'll be assigning issues to you. You can pass them on to whoever is suitable.

[2017-09-27 02:02] recluze commented on #61
One report I can think of is for each course ... on the x-axis is the time (this comes from due date of different assignments of the course). We can show average marks and the standard deviation both on the y-axis (using something like a box plot).

Second, we can have the number of submissions for assignments over time for a course.

[2017-09-27 05:46] recluze opened #63 "View Assignment for Instructor"
The assignment view (as seen by students) should also be visible to the instructor so that any problems in the view can be identified.

Think we only need to put some ifs in the view assignment page to remove student email, submission password and submission history. Rest should be ok as is.

Let's make this high priority.

[2017-09-27 10:42] soachishti commented on #62
Ok

[2017-09-27 10:49] soachishti commented on #63
Got it.

What if we add "Login as Student" button against each student? This button will goes in "Student view" (Admin) and in "Course student view" #62. We will redirect instructor directly to Assignment view of student after "Login as Student" when needed . This will be more feasible for instructor to debug the problem.

What do you say?

[2017-09-27 13:36] recluze commented on #63
That would be even better. Let's go with this.

[2017-09-28 10:22] recluze opened #64 "MOSS report doesn't seem to be working"
I've given your user on Prod staff access. Please see `/autograde/assignment_report/14`. Assignments for p176011 p176035 p176001 and p176031 are obviously copied but MOSS returns nothing. Is it a limitation of MOSS or something wrong on our end?

(Haven't seen any non-empty MOSS report till now.)

[2017-09-28 13:40] soachishti commented on #64
Bug resolved in moss.py, kindly update the moss.py to version 1.0.3 in prod.

I have also updated the requirements.txt file (in master).

[2017-09-29 00:55] recluze commented on #64
Awesome. It's found all the matches I noticed earlier.

[2017-09-29 00:55] #64 closed

[2017-09-29 19:19] soachishti opened #67 "Docker version of AutoGrader"
I am learning Docker these days so was thinking to create Docker version of AutoGrader.

Low priority.

[2017-09-30 02:09] recluze commented on #67
Docker is good but with something as simple (and few requirements) as Autograder, not sure if it will make sense. Anyway, good as a practice.

[2017-09-30 09:34] #62 closed

[2017-09-30 09:34] #63 closed

[2017-09-30 09:56] soachishti commented on #67
Docker is for everything `hello-world` to huge applications. InshaAllah, I will be giving a presentation on this, soon (we planned on Friday, but it gets delayed) =]

[2017-09-30 10:47] recluze commented on #67
Yes, I've used docker. (In fact, I added this to ITC intro but that didn't go too well I think.) I meant that it won't be of too much use for the Autograder.

Anyway, if you can create a container for this, it might make it easier to deploy. In any case, it'll be a good "show-off" feature =]

[2017-09-30 12:46] soachishti commented on #67
Ok, let count it as "show-off" feature =]

[2017-10-01 03:16] recluze opened #69 "Django-guardian"
This looks very interesting for doing object-level permissions (for separating instructors for example).

https://django-guardian.readthedocs.io/en/stable/overview.html

This is very low priority.

[2017-10-01 07:29] recluze commented on #9
Any progress on this? Since the assignments are going to be set quite frequently now, we might need this pretty soon.

[2017-10-01 14:25] soachishti commented on #69
I looked at it earlier when working on "Assignment Report" but this requires too many changes in code compared to the queryset option which is currently used for row-level permissions of the instructor.

[2017-10-01 14:27] recluze commented on #9
Ok, so I know this is your project but since you are stuck with me, I have merged #70 =]

Pull master and migrate the db on your end. I will post the changes needed on the student side in a minute.

[2017-10-01 14:36] soachishti commented on #9
@BilalZaib Over to you. =]

[2017-10-01 14:38] recluze commented on #9
@soachishti Does something need to be set with permissions for new models?

[2017-10-01 14:57] soachishti commented on #9
@recluze Where?

[2017-10-01 14:58] recluze commented on #9
I don't know =]

For the new model, I'm getting this error on admin backend:

`Something's wrong with your database installation. Make sure the appropriate database tables have been created, and make sure the database is readable by the appropriate user.`

Everything else is fine, db permissions are fine, shell insertion of record for this model is fine.

[2017-10-01 15:04] recluze commented on #9
@soachishti @BilalZaib Got it. It's fixed. Phew.

@BilalZaib Hope you're not mad at me for ruining your code. I can explain later =]

[2017-10-01 15:14] recluze commented on #9
@BilalZaib Please see the extension model here: https://github.com/BilalZaib/AutoGrader/blob/2be59f29df1956946577ad36d5a41305950f4518/AutoGrade/models.py#L210

Max days is defined in `Course`: https://github.com/BilalZaib/AutoGrader/blob/2be59f29df1956946577ad36d5a41305950f4518/AutoGrade/models.py#L56

On the assignment submission page, if the deadline has passed (can be seen by looking at https:/

[2017-10-01 18:09] bilalzaib commented on #9
@recluze
Sir,
I'm not mad at you but very thankful for giving an opportunity to learn something. After all work on this issue, what I've learned:
1- I'm not a smart coder because I turn simple things into complex. (Lack of practice)
2- I doesn't read requirements(instructions) carefully. (Lazy to read)
But happy part is things can be improved with time.
Moreover, I've solved the issue with my way,

[2017-10-01 18:14] bilalzaib commented on #9
I've reviewed your solution #70

[2017-10-02 00:45] recluze commented on #9
@BilalZaib Thanks. I'm looking at your PR #71

If you get time, please discuss the reports part with @soachishti ... that might make the Autograder much more presentable/useful.

[2017-10-02 00:46] recluze commented on #69
Hnn, ok. From first impression, it looked like it would require little code changes. Closing this.

[2017-10-02 00:46] #69 closed

[2017-10-02 05:35] bilalzaib commented on #9
I'll discuss with him.

[2017-10-05 08:49] recluze opened #80 "View assignment file on assignment_report page broken"
After the security fix, the backend `View` button for `assignment_report` also returns no assignment code.

[2017-10-05 09:19] soachishti commented on #80
Working fine with me.

Screenshot: https://www.screencast.com/t/Gdblvo7M3Eof

[2017-10-05 12:06] recluze commented on #80
Does it show the submission when you click on "View"? Also, try on prod.

[2017-10-05 12:08] recluze commented on #80
Here's the log:

[code]

[2017-10-05 12:08] recluze commented on #80
Looks like we need to put a check for superuser in there.

[2017-10-05 15:21] #80 closed

[2017-10-09 07:55] recluze commented on #9
Closed by #81 for now. If something comes up, we'll open another issue for the bug.

[2017-10-09 07:58] #9 closed

[2017-10-09 08:00] recluze commented on #61
Ok, now that we have all the PRs closed, do we have any update on this one?

[2017-10-09 11:06] soachishti commented on #61
I will talk to other TAs to have their progress and then I will update you.

[2017-10-10 06:44] soachishti commented on #61
@recluze Bilal will work on this on weekend.

[2017-10-13 14:12] soachishti commented on #61
@BilalZaib Are you working on this?

[2017-10-13 15:17] bilalzaib commented on #61
Not working but I'll work tomorrow IA

[2017-10-13 15:18] recluze commented on #61
@BilalZaib Please make sure you create a separate file for the report views. We want to keep the main `views.py` file clean from the extra features we're adding now.

[2017-10-14 17:35] soachishti commented on #67
Hyper-V killed my laptop which I installed with Docker. I have uninstalled all of them now.

Closing this issue for the reason above.

No more show-off =]

[2017-10-14 17:35] #67 closed

[2017-10-15 15:01] recluze opened #87 "Course student stats"
This is another report that we need. This one is much more important so has the highest priority among reports at the moment. Whoever is doing reports needs to do this one first (or next if already working on one).

We need a report for each course. There should be a link in the course admin page (similar to "show report" in the assignments admin page) called "Student Stats". This opens up a new p

[2017-10-15 15:54] soachishti commented on #87
@BilalZaib What do you say? I think this might be simpler... you can use existing code of `assignment_report` (its table) to create this report...

[2017-10-15 16:17] bilalzaib commented on #87
Yes its seems easy, I'll start work on it.
There were virus issues with my laptop and now I've installed new window. It will take little time to setup all required softwares

[2017-10-15 17:03] soachishti commented on #87
@BilalZaib OK. No problem, take your time.

[2017-10-15 19:26] bilalzaib commented on #87
Assignments whose due date is not passed should be included in this report or not??

[2017-10-15 19:31] soachishti commented on #87
I think it should be included; "a completed assignment is one with at least one submission".

[2017-10-15 20:08] bilalzaib commented on #87
To calculate average marks of a student
average marks = sum_of_marks/completed_assignments or sum_of_marks/total_assignments ??
(Because there may be students who don't submit an assignment so it will be incomplete)

[2017-10-15 22:15] bilalzaib commented on #87
What will be the formula for "Average time taken"?

[2017-10-16 01:19] recluze commented on #87
`average marks = sum_of_marks/completed_assignments`
`average time taken = average(time taken for an assignment is last submission time - open date time)` -- again, only for completed assignments.

[2017-10-17 07:46] #87 closed

[2017-10-17 09:22] recluze opened #89 "Module missing in requirements.txt"
@BilalZaib You added a module's usage in the lastest commit. Please add that to `requirements.txt` so that we know it's needed when deploying. I brought down prod due to the missing dependency just now =]

[2017-10-17 10:41] bilalzaib commented on #89
I'm using python3...I didn't add any external module only built in modules I've used.

What is the error you are getting??

[2017-10-17 10:46] recluze commented on #89
Hnn, python2 seems to need statistics package to be installed. I've fixed this in #90

[2017-10-17 10:46] #89 closed

[2017-10-29 10:33] soachishti opened #94 "Wiki Page Updates"
Wiki page is updated, kindly review it.

https://github.com/BilalZaib/AutoGrader/wiki

@recluze @BilalZaib

[2017-10-29 12:16] #94 closed

[2017-11-01 14:51] recluze opened #96 "Autograder CL Utils"
Create a set of utility functions which can be used in `run.py` and tests. This is aimed to clean up the code that is in these files and to ensure ease of updates.

This is also to be released in Pypy for easy deployment.

[2017-11-30 02:12] recluze opened #99 "Show late days details to students"
We need to show a late days used to the students on their course dashboard. Following fields should be sufficient.

[code]

[2019-04-04 06:59] BilalZaib opened #100 "Getting Started"
### 【 highlighted #e2bb00 】Join an Onboarding Session【 end highlighted 】
We've found the quickest way to get familiar with Wrike is to attend this intro session, where you'll learn about essential features, best practices, and tips & tricks.

**What you will learn:**

* How to organize your work by applying a framework of Projects, Folders, Tasks.
* How to collaborate and share with your team in W

[2019-04-04 06:59] bilalzaib commented on #100
➤ Wrike Bot commented:

Bilal Zaib, new tools are exciting, here’s some helpful information to get you going. 😀

[2019-04-04 07:08] #100 closed

[2020-02-24 11:47] DipeshSharma25 opened #101 "run_test in grader.py not writing anything in log file"
[code]

 this function is not writing anything it is giving error res_line = out.splitline()[-1] is out of index after debugging, I got that if we insert a print statement after an import pytest it is writing the same thing in file with an error message. please help.
@bilalzaib @recluze @soachishti
please help guys

[2020-02-24 13:46] soachishti commented on #101
Hi @DipeshSharma25, Can you share more details of the error or stack trace. It would easier to debug that way.

[2020-02-24 14:24] DipeshSharma25 commented on #101
[
![Screenshot (29)](https://user-images.githubusercontent.com/60509313/75160053-63f86200-573f-11ea-80d8-e22626244f3a.png)
![Screenshot (30)](https://user-images.githubusercontent.com/60509313/75160059-68247f80-573f-11ea-934b-cc3ec9624c62.png)

](url)

[2020-02-24 14:25] DipeshSharma25 commented on #101
these errors I tried to debug it. test-results.log file is empty always

[2020-02-24 14:26] DipeshSharma25 commented on #101
@soachishti

[2020-02-24 14:34] DipeshSharma25 commented on #101
# TODO: Disable networking for submission file
    # Source: https://gist.github.com/hangtwenty/9200597e3be274c79896
    # Source: https://github.com/miketheman/pytest-socket
    #import socket
    #def guard(*args, **kwargs):
    #    raise Exception("I told you not to use the Internet!")
    #socket.socket = guard
    #os.nice()
    #os.setuid()

in this section what to do I didn't get exactly.

[2020-02-25 05:13] soachishti commented on #101
![image](https://user-images.githubusercontent.com/922984/75216921-70b89c80-57b7-11ea-97aa-fa1aafc990ff.png)

Are you getting any thing in this directory?

[2020-02-25 05:14] soachishti commented on #101
Ignore it. This is just a commented code.

[2020-02-25 06:38] DipeshSharma25 commented on #101
no, I am not getting anything in that dictionary. if i add a print statement after that import pytest statement then that print is available in test-result.log file

[2020-02-25 07:34] soachishti commented on #101
I am expecting assignment's zip file content there, on which pytest is executed. As this folder is empty pytest isn't generated any result.

Can you please confirm that view.py [L327] is unzipping assignment's content in the directory properly.
 https://github.com/bilalzaib/AutoGrader/blob/40767cfc3351fde6948a4381eadabc3bf52ce8a6/AutoGrade/views.py#L327

[2020-02-25 07:43] DipeshSharma25 commented on #101
yes it is there

[2020-02-25 08:01] soachishti commented on #101
Is pytest working in that folder?

[2020-02-25 08:09] DipeshSharma25 commented on #101
no that is a problem pytest is not working in that problem

[2020-02-25 08:14] DipeshSharma25 commented on #101
i tried to change a little code in run_studen_tests() [
![Screenshot (31)](https://user-images.githubusercontent.com/60509313/75227793-d9624200-57d4-11ea-918d-28585df25ebd.png)
then pytest worked in that folder but giving an error after testing database access is not allowed
![Screenshot (32)](https://user-images.githubusercontent.com/60509313/75227796-db2c0580-57d4-11ea-9bb1-0eb8ce56298e.png)

](

[2020-02-25 08:14] DipeshSharma25 commented on #101
but in run_test() pytest is not working

[2020-02-25 08:59] DipeshSharma25 commented on #101
Process Process-1: this is main error as per my debugging @soachishti

[2020-02-25 09:16] soachishti commented on #101
This error is showing different variant of pytest. Please remove "pytest-django" and install "pytest", and try again with that.

![image](https://user-images.githubusercontent.com/922984/75232467-1b8d8280-57d9-11ea-89fa-6f60307a07c0.png)

[2020-02-25 09:20] DipeshSharma25 commented on #101
okh

[2020-02-25 09:23] DipeshSharma25 commented on #101
thanks a lot @soachishti  it worked.....

[2020-02-25 09:23] #101 closed

[2020-05-10 22:37] gaborantal opened #102 "Missing requirements"
Bootstrap3 is missing from requirements.txt. Python 3.8.1 is used, with virtualenv.

After installing requirements, bootstrap is missing when trying to run any command. Solution is easy, simply run the command `pip install django-bootstrap3`. Please, include this dependency in requirements.txt